[user]
	name = Hemanth Alluri
	email = hdrive1999@gmail.com
[core]
	editor = nvim
[fetch]
	prune = true
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
[alias]
	logx = log --oneline --decorate --graph
	verify = log -n 1 --show-signature
	patch = commit --amend --no-edit
