[user]
	name = Hemanth Alluri
	email = hdrive1999@gmail.com
	signingkey = 8608A36AE9289ECE
[core]
	editor = nvim
[fetch]
	prune = true
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
[alias]
	logx = log --oneline --graph --decorate
	check = log --show-signature -n 1
	patch = commit --amend --no-edit
	fcommit = commit --no-verify
	famend = commit --amend --no-verify
	fpatch = commit --amend --no-edit --no-verify
	wip = fcommit -a -m wip
